* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: inherit;
}

@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    height: 100vh;

    font-size: 12px;
    font-family: 'robotoregular', 'Arial', sans-serif;

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
}

/* GENERAL USE CLASSES */

.user-icon-small{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
}

.user-icon-large{
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 50%;
}

.small-icon{
    width: 2rem;
}

.very-small-icon{
    width: 1.5rem;
}

/* MAIN GRID LAYOUT */

body > .header-container{
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    background-color: aqua;
}

body > .sidebar{
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    background-color: aquamarine;
}

body > .main-content{
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    background-color: coral;
}

/* SIDEBAR LAYOUT */

.sidebar{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 4fr;
    gap: 16px;
}

.sidebar .dashboard-wrapper{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: start;
    padding-top: 8px;
    padding-left: 8px;
}

.sidebar .dashboard-icon{
    width: 3rem;
}

.sidebar .dashboard-text{
    padding-top: 2px;
    font-size: 1.5rem;
}

.sidebar ul{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .05rem;
    padding-left: 8px;
}

.sidebar li{
    list-style-type: none;
    padding-bottom: 16px;

    display: grid;
    grid-template-columns: min-content min-content;
    gap: 12px;
    align-items: center;
}

.sidebar img {
    padding-right: 8px;
}

/* HEADER LAYOUT */

.header-container{
    display: grid;
    grid-template-rows: 2fr 3fr;
    grid-template-columns: repeat(20, 1fr);

    padding-bottom: 16px;
    padding-top: 8px;
}

/* HEADER LAYOUT -- TOP */

.header-top{
    grid-column: 2 / -2;

    display: grid;
    grid-template-columns: 1fr 15fr 1fr 1fr 4fr;
    align-items: center;
}

.header-top #search-box{
    width: 40vw;
    border-radius: 1rem;
    height: 2rem;
    border: none;
    background-color: rgba(169, 169, 169, 0.578);
}

.header-top .notif-icon{
    justify-self: end;
    margin-right: 16px;
}

.header-top .user-icon-1{
    justify-self: center;
}

.header-top .user-name-small{
    justify-self: start;
    margin-left: 16px;

    font-weight: 600;
    font-size: 16px;
}

/* HEADER LAYOUT -- BOTTOM */

.header-bottom{
    grid-column: 2 / -2;

    display: grid;
    grid-template-columns: 1fr 12fr 3fr 3fr 3fr;
    align-items: center;
}

.header-bottom .hello-message-container{
    padding-left: 16px;

    display: grid;
    grid-template-rows: 1fr 1fr;

    font-weight: 600;
}

.header-bottom .user-name-tag{
    font-size: 1.2rem;
}

.header-bottom button{
    width: 5rem;
    height: 2rem;
    border-radius: 1rem;
}

/* MAIN CONTENT LAYOUT */

.main-content{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 16px;

    padding: 16px;
}

.main-content .main-content-header{
    font-size: 1.4rem;
    font-weight: 600;
}

.main-content .main-sidebar{
    height: 70vh;
}

/* YOUR PROJECTS LAYOUT */

.project-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
    grid-auto-rows: 1fr;
    gap: 16px;

    margin-top: 8px;
    height: 70vh;
}

.project-container .project-card{
    display: flex;
    flex-direction: column;
    gap: 4px;

    background-color: beige;
    border-radius: .3rem;
    border-left: solid rgb(121, 255, 103) 8px;
    padding: 8px;
}

.project-card .project-card-header{
    font-size: 1.2rem;
    font-weight: 600;
}

.project-card .project-card-icon-container{
    margin-top: auto;
    margin-left: auto;
    display: flex;
    gap: 8px;
}

/* ANNOUNCEMENTS LAYOUT */

.announcements .announcements-container{
    display: grid;
    grid-template-rows: repeat(3, 10vh);
}

.announcement-card .announcement-card-content{
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* TRENDING LAYOUT */

.trending .trending-container{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 16px;
    height: 100%;
}

.trending-container .trending-user{
    display: flex;
    align-items: center;
    gap: 8px;
}