* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;

    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 2fr 7fr;
}

body > .header-container{
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    background-color: aqua;
}

body > .sidebar{
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    background-color: aquamarine;
}

body > .main-content{
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    background-color: coral;
}